<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:file:gtfsrthsql;hsqldb.log_data=false</property>
    <property name="hibernate.c3p0.min_size">1</property>
    <property name="hibernate.c3p0.max_size">1</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.GtfsFeedIterationModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.GtfsFeedModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.GtfsRtFeedIterationModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.GtfsRtFeedModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.MessageLogModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.OccurrenceModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.SessionModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ValidationRule"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewErrorSummaryModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewErrorLogModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewGtfsErrorCountModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewFeedIterationsCount"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewFeedUniqueResponseCount"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewFeedMessageModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewGtfsRtFeedErrorCountModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewMessageDetailsModel"/>
    <mapping class="org.mobilitydata.gtfsrtvalidator.lib.model.ViewIterationErrorsModel"/>
  </session-factory>
</hibernate-configuration>
