# This workflow will test and build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test and Package

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
  release:
    types: [ prereleased, released ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare version name
        id: prep
        run: |
          VERSION_TAG=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION_TAG=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION_TAG=-$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION_TAG=-pr-${{ github.event.number }}
          fi
          if [ ${VERSION_TAG} != ${GITHUB_REF#refs/tags/} ]; then
            VERSION_TAG=v${VERSION_TAG}-sha-${GITHUB_SHA::8}-SNAPSHOT
          fi
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
        env:
          versionTag: ${{ steps.prep.outputs.versionTag }}
      - name: Run Java tests
        run: mvn test
      - name: Persist Java tests reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Test reports
          path: |
            gtfs-realtime-validator-lib/target/surefire-reports
            gtfs-realtime-validator-webapp/target/surefire-reports
  package:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare version name
        id: prep
        run: |
          VERSION_TAG=edge
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION_TAG=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION_TAG=-$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION_TAG=-pr-${{ github.event.number }}
          fi
          if [ ${VERSION_TAG} != ${GITHUB_REF#refs/tags/} ]; then
            VERSION_TAG=v${VERSION_TAG}-sha-${GITHUB_SHA::8}-SNAPSHOT
          fi
          echo ::set-output name=versionTag::${VERSION_TAG}
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Package lib/cli and web app jars with Maven
        run: mvn -B package --file pom.xml -DskipTests -Drevision=${{ steps.prep.outputs.versionTag }}
      - name: Persist lib jar
        uses: actions/upload-artifact@v2
        with:
          name: gtfs-realtime-validator-lib-${{ steps.prep.outputs.versionTag }}.jar
          path: gtfs-realtime-validator-lib/target/gtfs-realtime-validator-lib-${{ steps.prep.outputs.versionTag }}.jar
      - name: Persist webapp jar
        uses: actions/upload-artifact@v2
        with:
          name: gtfs-realtime-validator-webapp-${{ steps.prep.outputs.versionTag }}.jar
          path: gtfs-realtime-validator-webapp/target/gtfs-realtime-validator-webapp-${{ steps.prep.outputs.versionTag }}.jar
